extends layout

block appHead
  title='Reimager - Download'
  meta(name='author', content='Noah Kraft')
  meta(name='description', content='Probelab ReImager is a simple and powerful tool for the re-processing of images captured with various devices such as Microprobes, SEMs, and TEMs.')
  link(rel='stylesheet', href='/assets/css/download.css')

block app
  section.top
    h1 Reimager #{version} Download
  section.bot
    div
      input(type='checkbox', id='more')
      div
        div.button
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.${recommendInstaller}`)
            div
              h4 Download #{recommendInstaller === 'msi' ? 'Windows Installer' : (recommendInstaller === 'dmg' ? 'MacOS DMG' : (recommendInstaller === 'snap' ? 'Snap Package' : ''))}
        label(for='more') More
      ul
        li.button(class=has.msi ? 'available' : '')
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.msi`)
            div
              h4 Download Windows MSI Installer
        li.button(class=has.nsis ? 'available' : '')
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.exe`)
            div
              h4 Download Windows NSIS Installer
        li.button(class=has.dmg ? 'available' : '')
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.dmg`)
            div
              h4 Download MacOS DMG Package
        li.button(class=has.snap ? 'available' : '')
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.snap`)
            div
              h4 Download Snap Package
        li.button(class=has.targz ? 'available' : '')
          a(href=`/download/${hash}/${download.name}-${channel}-${version}.tar.gz`)
            div
              h4 Download tar.gz Package
        li.button.available
          a(href=`mailto:kraft270@umn.edu`)
            div
              h4 Contact for other installers
    div.subtext
      p First time installing? Make sure to check out the manual for&#32
        a(href='/manual#setup') how to set it up for your lab.
      br
      p Having problems installing? Some browsers will bring up a dialog that requires clicking
        a(href='/manual#install-problems')  `Run Anyway` as shown Here