extends layout

block appHead
    //script(src='/assets/js/index.js')
    link(rel='stylesheet', href='/assets/css/download.css')

block app
    section#header
        h1 Reimager #{version} Download
    section#main
        div
            a(href=`${downloadUrl}/${prefix}-${channel}-${version}.msi`)
                button Download Windows MSI Installer
            a(href=`${downloadUrl}/${prefix}-${channel}-${version}.exe`)
                button Download Windows NSIS Installer
    section#footer
