extends layout

block appHead
  title='Reimager'
  meta(name='author', content='Noah Kraft')
  meta(name='description', content='Probelab ReImager is a simple and powerful tool for the re-processing of images captured with various devices such as Microprobes, SEMs, and TEMs.')
  link(rel='stylesheet', href='/assets/css/index.css')

block app
  div.intro
    h1 Probelab ReImager
    p.
      Probelab ReImager is a simple to use but powerful tool for the re-processing of images captured via Point and
      Shoot, PointID, and Spectral Mapping with Thermo Scientific's NSS and Pathfinder software.
  div.download-button
    div.button
      a(href='/download')
        h3 Download
  div.infographic
    div
      div.text
        h2 Wide Official OS Support
        p.
          ReImager currently supports images and analyses taken through Thermo Scientific's NSS and Pathfinder software;
          However, more formats are planned such as native support with both JEOL and CAMECA Electron Microprobes, SEMs,
           and TEMs.
        p.
          Supports Windows 7, 8, and 10 (With unofficial support for XP, and linux (deb, snap, or standalone if
          requested).
        p Install on your lab machines or a user's computer, customize for your lab and use it without any extra setup.
      div.image
        div
          img(alt='ReImager with an image and point displayed', decoding='async', importance='high', loading='lazy',
            src='/assets/images/reimager/white-background-750w.jpg'
            srcset=
            '/assets/images/reimager/white-background-500w.webp 500w,' +
            '/assets/images/reimager/white-background-750w.webp 750w',
            sizes='(max-width: 599px) 500w')
    div
      div.image
        div
          img(alt='ReImager but the viewport is larger and scaled', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/resized-750w.jpg'
            srcset=
            '/assets/images/reimager/resized-500w.webp 500w,' +
            '/assets/images/reimager/resized-750w.webp 750w',
            sizes='(max-width: 599px) 500w')
      div.text
        h2 Resizable Window and Elements
        p Easily resize to fit most computer screens and resolutions.
        p Resize the side-columns if file names are too long
    div
      div.text
        h2 Load Projects from Anywhere
        p Load any project directory created through NSS or Pathfinder in order to view the images.
        p Supports Samba and other network storage solutions with native UI
        p Supports any image resolution with full customization of options.
      div.image
        div
          img(alt='ReImager with multi-source store', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/size-directory-store-750w.jpg'
            srcset=
            '/assets/images/reimager/size-directory-store-500w.webp 500w,' +
            '/assets/images/reimager/size-directory-store-750w.webp 750w',
            sizes='(max-width: 599px) 500w')
    div
      div.image
        div
          img(alt='ReImager in background, Windows SaveAs in front', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/export-dialog-750w.jpg'
            srcset=
            '/assets/images/reimager/export-dialog-500w.webp 500w,' +
            '/assets/images/reimager/export-dialog-750w.webp 750w',
            sizes='(max-width: 599px) 500w')
      div.text
        h2 Customizable Destination and Names
        p.
          Choose any directory and name when saving the images, or batch export them all to the same directory
          automatically using a custom naming scheme .
        p.
          Export any image as TIFF, JPEG, PNG, WebP, or generate an ACQ to integrate directly with ProbeSoftware's
          PictureSnapApp.
    div
      div.text
        h2 Batch Process and Export
        p.
          Easily change settings and save the image to export later. Batch export all the selected images with the same
          settings regardless of the mix of image resolutions, projects, or settings per image.
        p Multi-select and batch export images with any settings applied per image or for all of them.
      div.image
        div
          img(alt='ReImager sidebar with saved images in store', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/savebox-200w.jpg'
            srcset='/assets/images/reimager/savebox-200w.webp 1x')
    div
      div.image
        div
          img(alt='Various types of scalebars and styling', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/scales-700w.jpg'
            srcset=
            '/assets/images/reimager/scales-400w.webp 400w,' +
            '/assets/images/reimager/scales-700w.webp 700w',
            sizes='(max-width: 599px) 400w').fix-image
      div.text
        h2 Customize Almost Anything
        p.
          Change the position and scale sizing of the scale bar. No longer be forced to accept what the program thinks
          is right.
        p Easily add a background or move the scale bar off of the image to make it easier to read
    div
      div.text
        h2 Point and Map Customization
        p Full customization of what positions are shown, the visual representation, color, and size.
        p.
          Export maps from NSS or Pathfinder and layer them on top in a custom color with or without positions and a
          scale bar.
      div.image
        div
          img(alt='Various types of point displays and colors', decoding='async', importance='low', loading='lazy',
            src='/assets/images/reimager/points-700w.jpg'
            srcset=
            '/assets/images/reimager/points-400w.webp 400w,' +
            '/assets/images/reimager/points-700w.webp 700w',
            sizes='(max-width: 599px) 400w').fix-image
    div
      div.image
        div
          img()
      div.text
        h2 Optional Updates or Forced No-Updates
        p Easily download and install updates with a non-intrusive notification system (Requires internet access)
