doctype html
html(lang='en-US')
  head
    link(rel='shortcut icon' href='/assets/images/favicon.ico' type=';image/x-icon')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/assets/css/base.css')
    block appHead
  body
    section#header
      div#logo
        a(href='/')
          img(alt='ReImager Logo - Atom with electrons around it', decoding='async', importance='high', loading='eager'
            src='/assets/images/atom-2-100w.png',
            srcset= '/assets/images/atom-2-100w.webp 1x')
          h1 ReImager
      input(type='checkbox', id='menu-check')
      ul#menu
        li.button
          a(href='/')
            h3 Home
        li.button
          a(href='/download')
            h3 Download
        li.button
          a(href='/manual')
            h3 Manual
        li.button
          a(href='/about')
            h3 About
        li.button
          a(href='http://probelab.net')
            h3 UMN Probelab
        li#source
          div.button
            a(href=source.url)
              h3 #{source.name}
      div#menu-button
        label(for='menu-check')
          div.burger
            div
            div
            div
    section#app
      block app
    section#footer
